# Input/output data
input_pdfs/*
!input_pdfs/.gitkeep
output/*
!output/.gitkeep
hold_dataset/
datasets/
runs/
weights/
*.pdf
*.zip
*.jpg
*.jpeg
*.png
*.pt
*.onnx
*.engine
*.tflite

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE/system
.vscode/
.idea/
.DS_Store
Thumbs.db
