# Входные и выходные данные
input-dir/
base_pages/
hold_dataset/
*.pdf
*.jpg
*.jpeg
*.png
input_pdfs/
hold_dataset.zip

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Системные файлы
.DS_Store
Thumbs.db